@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

:root {
  --background-color: #ffffff; 
  --text-color: #000000;
  --light-text-color: #7e7e7e;
  --dark-gold: #936830;
  --middle-gold: #AD8A4C;
  --light-gold: #F9EF9E;
  --hashtag-color: #0000ff;
  --post-border-color: #D1D5DB;
  --button-border-color: #000000;
  --button-background-color:#000000;
  --button-text-color: #ffffff;
}

/* :root {
  --background-color: #000000; 
  --text-color: #ffffff; 
  --light-text-color: #818181;
  --dark-gold: #69A7CF; 
  --middle-gold: #5285B3; 
  --light-gold: #061060; 
  --hashtag-color: #FFFF00; 
  --post-border-color: #2E2A24; 
  --button-border-color: #ffffff; 
  --button-background-color: #ffffff;
  --button-text-color: #000000;
}
 */
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}


.main:before {
  background: var(--background-color);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border py-1.5 px-5 transition-all text-center text-sm font-inter flex items-center justify-center;
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}
.black_btn:hover {
  border-color: var(--button-border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.outline_btn {
  @apply rounded-full border py-1.5 px-5 transition-all text-center text-sm font-inter flex items-center justify-center;
  border-color: var(--button-border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}
.outline_btn:hover {
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl;
  color: var(--text-color)
}


.orange_gradient {
  background: linear-gradient(to right, var(--dark-gold), var(--middle-gold), var(--light-gold), var(--middle-gold), var(--dark-gold));
  background-clip: text;
  color: transparent;

}

.edit_button {
  color: #199700;
}

.delete_button {
  color: #a70000;
}

.blue_gradient {
  background: linear-gradient(to right, var(--dark-gold), var(--middle-gold), var(--light-gold), var(--middle-gold), var(--dark-gold));
  background-clip: text;
  color: transparent;

}

.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
  color: var(--light-text-color);
}

.search_input {
  @apply block w-full rounded-md border py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
  background-color: var(--background-color);
  border-color: var(--post-border-color);
}
.search_input:focus {
  @apply focus:outline-none focus:ring-0;
  border-color: var(--button-border-color);
}

.glassmorphism {
  @apply rounded-xl border shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
  border-color: var(--post-border-color);
  background-color: var(--background-color);
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm outline-0;
  color: var(--light-text-color)
}
.form_textarea::placeholder {
  color: var(--light-text-color)
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm outline-0;
  color: var(--light-text-color)
}
.form_input::placeholder {
  color: var(--light-text-color)
}

/* Nav Component */
@media screen and (max-width: 660px) {
  .logo_textImg {
    display: none;
  }
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg min-w-[210px] flex flex-col gap-2 justify-end items-end;
  background-color: var(--background-color);
  border: var(--button-border-color) 1px solid;
}

.dropdown_link {
  @apply text-sm font-inter font-medium;
  color: var(--text-color);
}
.dropdown_link:hover {
  color: var(--light-text-color);
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
  border-color: var(--post-border-color);
  background-color: var(--background-color)
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.hover_opacity:hover {
  opacity: 0.5;
}

.min_width {
  width: max-content;
}

.title {
  font-weight: 700;
  font-size: xx-large;
}

.name {
  display: flex;
  font-size: larger;
}
.name p {
  margin-right: 3px;
}

.post_photo {
  max-height: 500px;
  max-width: 750px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 70px;
}

.post_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.aaa {
  break-inside: avoid; 
  flex: 1 1 0%; 
  border-radius: 0.5rem; 
  border-width: 1px; 
  border-color: var(--post-border-color); 
  width: 600px;
  height: 200px; 
  background-clip: padding-box;  
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: pointer;
  background-color: var(--background-color);
}

@media screen and (max-width: 612px) {
  .aaa {
    width: 500px;
  }
}
@media screen and (max-width: 512px) {
  .aaa {
    width: 400px;
  }
}
@media screen and (max-width: 412px) {
  .aaa {
    width: 300px;
  }
}
@media screen and (max-width: 312px) {
  .aaa {
    width: 200px;
    height: auto;
    flex-direction: column;
  }
  .ddd {
    display: none;
  }

}

.aaa img {
  margin-right: 25px;
  border-radius: 0.5rem; 
}

.bbb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bbb h1 {
  font-weight: 700;
  font-size: larger;
}
.bbb h2, .ccc  {
  color: var(--hashtag-color);
}
.bbb h2:hover, .ccc:hover  {
  opacity: 0.5;
}
.ddd {
  height: 150px;
  width: 295px;
  overflow: hidden;
  margin-right: 25px;
}

.ddd img {
  height: 150px;
  width: 295px;
  object-fit: cover;
}

.eee {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.ggg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
@media screen and (max-width: 1844px) {
  .ggg {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1220px) {
  .ggg {
    grid-template-columns: 1fr;
  }
}
.hhh {
  display: flex;
}
.iii {
  border: none;
  height: 1px; 
  background-color: var(--background-color); 
  margin: 20px 0;
}
.jjj {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.formcolor {
  color: var(--text-color)
}
.formcolor1 {
  color: var(--light-text-color)
}
.formcolor2 {
  color: var(--button-text-color)
}
.formcolor3 {
  background: linear-gradient(to right, var(--dark-gold), var(--middle-gold), var(--dark-gold));
}
.zzz {
  color: var(--text-color);
}